%h1
  = item.name
  %form.pull-right{action: routes.get_entries_item_path(item.id), method: :post}
    %input{name: '_csrf_token', type: 'hidden', value: csrf_token}
    %input{type: :hidden, name: :_method, value: 'PUT'}
    %label.btn.btn-primary{for: 'getMarket'}
      %i.fa.fa-refresh
      Get Market
    %input#getMarket.hide{type: :submit, value: 'Get Market'}

%legend Market Entries
#market_entries
  %table.table.table-stripped
    %thead
      %tr
        %th Price
        %th Amount
        %th Vendor
        %th Collected at
    %tbody
      - item.market_entries.each do |entry|
        %tr.market_entry
          %td= entry.price
          %td= entry.amount
          %td= entry.vendor
          %td= entry.created_at

= link_to_back routes.items_path
